body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    background-color: rgba(89, 98, 98, 0.245);
    height: 80px;
    align-items: center;
}
.navleft h1{
    margin: 30;
    font-size: 22px;
}
.navcenter{
    font-size: 50px;
    margin-bottom: 20px;
}
.navright{
    margin: 30;
    font-size: 22px;
}
.button1{
    background: #3b3b3b0e;
    border: 0px;
    border-radius: 25px;
    width: 80px ;
    height: 30px;
}
.button2{
    background: #3b3b3b0e;
    border: 0px;
    border-radius:50%;
    width: 40px ;
    height: 40px;
}


.teslaf {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.img1{
    width: 1521px;
}